/*------------------------------------*\
  # Default settings
\*------------------------------------*/

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(sandybrown, saddlebrown);
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;

}

main {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.wrapper {
    width: 800px;
}

/*--------------------------------*/
/*    #Navigation*/
/*--------------------------------*/

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    color: orange;
}

/*------------------------------------*\
  # Forms, input fields
\*------------------------------------*/

form {
    width: 400px;
    margin: 20px 0;
}

span,
form p {
    font-weight: bold;
}

.input-field,
.btn {
    border: 1px solid rgba(31, 31, 31, 0.25);
    background-color: #eee;
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
}

.input-field {
    width: 100%;
}

.btn {
    background-color: tomato;
    color: white;
    min-width: 150px;
}

.error {
    color: red;
    font-size: 0.8em;
}

select.input-field {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

textarea.input-field {
    /*resize: none;*/
    padding: 10px;
}

/*===============*/
/* #Poo wall*/
/*==================*/

.pizzas_box {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
}

.pizza_box {
    width: 20%;
    background-image: linear-gradient(white, floralwhite);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    min-height: 200px;
    position: relative;
    margin: 20px;
    margin-bottom: 100px;
}

.pizza_img {
    height: 130px;
    image-rendering: auto;
}

.pizza_name {
    color: darkgrey;
}

.pizza_price {
    color: black;
    font-weight: bold;
}

.order_button {
    margin: 0;
    width: 80px;
}
.order_button, .delete_button {
    max-width: 80px;
    margin: 0;
    position: absolute;
    bottom: -80px;
    left: -120px;
}

.edit_button {
    max-width: 80px;
    margin: 0;
    position: absolute;
    bottom: -120px;
    left: -120px;

}
.add_button {
    position: absolute;
    bottom: 50px;
    background-color: tomato;
    color: white;
    min-width: 150px;
    border: 1px solid rgba(31, 31, 31, 0.25);
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
}

/*===============*/
/* #Table*/
/*==================*/

table {
    margin-top: 50px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
}
table form {
    margin: 0;
}
.select_field {
    min-width: 100px;
    border: 1px solid rgba(31, 31, 31, 0.25);
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
}

.select_btn {
    background-color: tomato;
    color: white;
    min-width: 100px;
    border: 1px solid rgba(31, 31, 31, 0.25);
    border-radius: 10px;
    padding: 7px;
    margin: 5px;
}
